@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
html {
  font-size: 15px;
  font-family: Poppins, arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
}

body h1 {
  color: #96b3c2;
  font-size: 2em;
}

.button {
  background-color: #8a9ba7;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 25px;
}

.button a {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: #d7e2ea;
  color: #000000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  font-weight: 200;
}

/** MENU **/
nav {
  width: 100%;
  height: auto;
  background-color: #aeaeaf59;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
  position: fixed;
}

nav a {
  text-decoration: none;
  display: inline-block;
  color: #96b3c2;
  line-height: 50px;
  margin: 0 15px;
  font-weight: 550;
}

nav img {
  width: 1.5em;
  height: 1.5em;
}

header {
  width: 100%;
  height: 900px;
  background-image: url("../images/fond_header.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  border: 1px solid white;
}

header h1 {
  padding-left: 10%;
  padding-top: 20%;
  font-size: 5em;
  line-height: 0.5em;
}

header h2 {
  padding-left: 10%;
  font-size: 3em;
}

header p {
  padding-left: 10%;
  font-size: 2em;
}

header .arrow_down {
  opacity: 50%;
  text-align: center;
  padding-top: 5%;
}

header .arrow_down img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

/** A PROPOS DE MOI **/
.aboutme {
  width: 70%;
  height: 600px;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
}

.aboutme__photo img {
  height: 500px;
}

.aboutme__text {
  margin-left: 100px;
  text-align: justify;
  overflow: hidden;
}

/**COMPETENCES**/
.competence {
  width: 100%;
  height: auto;
  background-color: #E5E7E9;
  text-align: center;
  /** Indicateurs compétences circulaires **/
}

.competence h1 {
  font-size: 3em;
  padding-top: 20px;
}

.competence__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20%;
}

.competence__box h2 {
  font-size: 1.5em;
}

.competence__box--text {
  width: 850px;
  height: auto;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px lightgrey;
          box-shadow: 5px 5px 10px lightgrey;
  background-color: #ffffff;
  margin-bottom: 75px;
  font-size: 1.1em;
}

.competence__box--text p {
  text-align: left;
  padding-left: 15px;
}

.competence__box--image {
  margin: 0 50px;
}

.competence__box--image img {
  width: 150px;
}

.competence .skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.competence .skill {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 5px 5ps 20px rgba(0, 0, 0, 0.3), -5px -5px -5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5ps 20px rgba(0, 0, 0, 0.3), -5px -5px -5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.competence .skill:not(:last-child) {
  margin-right: 3rem;
}

.competence .skill::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 5ps 20px rgba(0, 0, 0, 0.3), -5px -5px -5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5ps 20px rgba(0, 0, 0, 0.3), -5px -5px -5px 20px rgba(0, 0, 0, 0.3);
}

.competence .skill:nth-child(1) {
  background-image: conic-gradient(#96b3c2 70%, transparent 0);
  color: #96b3c2;
}

.competence .skill:nth-child(2) {
  background-image: conic-gradient(#8a9ba7 70%, transparent 0);
  color: #8a9ba7;
}

.competence .skill:nth-child(3) {
  background-image: conic-gradient(#96b3c2 15%, transparent 0);
  color: #96b3c2;
}

.competence .content {
  font-size: 15px;
  z-index: 1;
  text-align: center;
}

.competence .content span {
  display: block;
}

/** MON PARCOURS**/
.parcours {
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  margin-bottom: 25px;
}

.parcours .parcoursBox {
  width: 70%;
  height: auto;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1em;
  background-color: #ffffff;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 10px #d3d3d3;
          box-shadow: 3px 3px 10px #d3d3d3;
  text-align: left;
  padding: 15px;
}

.parcours .parcoursBox__text {
  padding-left: 50px;
  border-left: 3px solid #808080;
  font-size: 0.9em;
}

/**PORTFOLIO**/
.realisations {
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  height: auto;
  background-color: #E5E7E9;
  overflow: hidden;
}

.realisations .projetBox {
  width: 70%;
  height: auto;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  background-color: #ffffff;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 10px #d3d3d3;
          box-shadow: 3px 3px 10px #d3d3d3;
}

.realisations .projetBox__photo img {
  width: 500px;
  padding: 30px;
}

.realisations .projetBox__text {
  font-size: 0.8em;
  text-align: justify;
  padding: 30px;
}

.realisations .projetBox__text h2 {
  line-height: 0em;
  margin-bottom: 3px;
}

.realisations .projetBox__text h3 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1em;
  margin-right: 10px;
  font-size: 0.8em;
  margin-bottom: 1px;
  background-color: #d7e2ea;
  border: 1px solid #8a9ba7;
  font-weight: 1;
  color: #8a9ba7;
  padding: 3px;
  border-radius: 4px;
}

.realisations .projetBox__text p {
  font-size: 0.9em;
}

/** CONTACTEZ MOI**/
.contact {
  width: 70%;
  height: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
}

.contact h1 {
  line-height: 2em;
}

.contactbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
}

.contactbox__tel {
  width: 30%;
  height: 200px;
  border-radius: 1.8em;
  -webkit-box-shadow: 3px 3px 10px #d3d3d3;
          box-shadow: 3px 3px 10px #d3d3d3;
  background-color: #8a9ba7;
}

.contactbox__tel img {
  margin-top: 30px;
  height: 80px;
}

.contactbox__mail {
  width: 30%;
  height: 200px;
  border-radius: 1.8em;
  -webkit-box-shadow: 3px 3px 10px #d3d3d3;
          box-shadow: 3px 3px 10px #d3d3d3;
  background-color: #96b3c2;
}

.contactbox__mail img {
  margin-top: 20px;
  margin-bottom: -20px;
  height: 110px;
}

.contactbox__social {
  width: 30%;
  height: 200px;
  border-radius: 1.8em;
  -webkit-box-shadow: 3px 3px 10px #d3d3d3;
          box-shadow: 3px 3px 10px #d3d3d3;
  background-color: #d7e2ea;
}

.contactbox__social img {
  height: 50px;
  margin-top: 60px;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #E5E7E9;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer p {
  position: absolute;
  bottom: 0;
}
/*# sourceMappingURL=style.css.map */