$colorshadow:#d3d3d3;
$colortitle:#96b3c2;
$colorprimary:#E5E7E9;
$colorsecondary:#ffffff;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

html {
    font-size: 16px;
    font-family: Poppins, arial, sans-serif;
    scroll-behavior: smooth;
  }

  body{
    margin:0; 
    width: 100%; 
    
    h1{
        color: $colortitle;
        font-size: 2rem;
    }
  }
  
  .button{
    background-color:#AAF0D1;       
    padding: 15px 32px;
    text-align: center;        
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 25px;
    
    a{
    text-decoration: none;
     color: white;
    }

    &:hover{
        background-color: #d7e2ea;
        color: #000000;
        transform: scale(1.1);
        transition: transform 200ms;
        font-weight: 200;
    }
}
  

/** MENU **/

  nav {
    width: 100%;
    height: auto;
    background-color: #afaeae59;   
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    position: fixed;
    z-index: 100;
    
   
    a{
        text-decoration: none;
        display: inline-block;
        color: $colortitle;
        line-height: 50px;
        margin: 0 15px;
        font-weight: 500;
        
    }

    img {
        width: 1.5em;
        height: 1.5em;
        
        
    }

    label{
        display: none;
        
    }
    label, #toggle{
        display: none;
    }
}
  

header {
    max-width: 100%;
    height: auto;
    background-image: url("../images/fond_header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;    
    border: 1px solid white;

    h1 {
        padding-left: 10%;
        padding-top: 20%;
        font-size: 5rem;
        line-height: 0.5em;
    }

    h2 {
        padding-left: 10%;        
        font-size: 3rem;
        
    }

    p {
        padding-left: 10%;        
        font-size: 2em;
    }
    
    .arrow_down {
        opacity: 50%;
        text-align: center;
        padding-top: 5%;

        img:hover{
            transform: scale(1.2);
            transition: transform 200ms ease-in-out;
        }
        }
       
    }
  
/** A PROPOS DE MOI **/  

.aboutme {
    width: 70%;
    height: 600px;
    margin: 100px auto;
    display: flex;
    font-size: 1.2em;
                
        &__photo {
            
            img {
                height:500px;               
            }
        }

        &__text{
            margin-left: 100px;
            text-align: justify;
            overflow: hidden;
        }
    }


/**COMPETENCES**/
.competence{
    width:100%;
    height: auto;
    background-color: #E5E7E9;
    text-align:center;
    

    h1{
        font-size: 3em;
        padding-top: 20px;
    }
    
    
    
    &__box{
        display: flex;    
        justify-content: center;
        margin: auto;
        width: 80%;
        
      
      
      h2{
        font-size:1.5em;
      }
      
      
    
    
      &--text{
        width: 70%;
        height: auto;
        border-radius: 20px;
        box-shadow: 5px 5px 10px lightgrey;
        background-color: #ffffff;
        margin-bottom: 75px;
        font-size: 1.1em;
        
        
        p{
          text-align:left;
          padding-left:15px;
        }
        
      }
    
      &--image{
        margin: 0 50px;
        
       
        img{
        width:150px;
        }
        
      }
      
    }
    
    
   
    
    /** Indicateurs compétences circulaires **/
  
  .skills-wrapper{
    display:flex;
    justify-content: center;
  }
  
  .skill{
    width:100px;
    height:100px;
    box-shadow: 5px 5ps 20px rgba(0,0,0,0.3),
      -5px -5px -5px 20px rgba(0,0,0,0.3);
    border-radius: 50%;
    
    position: relative;
    display:grid; 
    place-items: center;
    
  }
  
  .skill:not(:last-child){
    margin-right: 3rem;
   
  }
  
  .skill::before{
    content:"";
    position:absolute;
    width:80%;
    height:80%;
    border-radius:50%;
    
    background-color:#ffffff;
    box-shadow: 5px 5ps 20px rgba(0,0,0,0.3),
      -5px -5px -5px 20px rgba(0,0,0,0.3);
      
    
  }
  
  .skill:nth-child(1){
    background-image:conic-gradient(#96b3c2 70%,transparent 0);
    color:#96b3c2;
    
  }
  
  .skill:nth-child(2){
    background-image:conic-gradient(#8a9ba7 70%,transparent 0);
    color:#8a9ba7;
  }
  
  .skill:nth-child(3){
      background-image:conic-gradient(#96b3c2 15%,transparent 0);
      color:#96b3c2;
    }

    
  
  .content {
    font-size:15px;
    z-index:1;
    text-align:center;
   
  }
  .content span {
    display:block;
  }
  }

/** MON PARCOURS**/

.parcours{
    text-align: center;
    font-size: 1.5em;
    width:100%;
    height: auto;
    background-color:#ffffff;
    margin-bottom: 25px;

    h1{
        font-size: 3rem;
    }

   
    

    .parcoursBox{
        width: 70%;
        height: auto;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        font-size: 1em;
        background-color: #ffffff; 
        border-radius: 25px; 
        box-shadow: 3px 3px 10px $colorshadow;
        text-align: left;
        padding: 15px;
    }

    .parcoursBox__text{
        padding-left: 50px;
        border-left: 3px solid #808080;
        font-size: 0.9em;
    }



}


/**PORTFOLIO**/

.realisations{
    text-align: center;
    font-size: 1.5em;
    width:100%;
    height: auto;
    background-color:#E5E7E9;   
    overflow: hidden;
   
    h1{
        font-size: 3rem;
    }

    .projetBox{
        width: 70%;
        height: auto;
        margin: 50px auto;
        display: flex;
        font-size: 1.2em;
        background-color: #ffffff; 
        border-radius: 25px; 
        box-shadow: 3px 3px 10px $colorshadow;
        overflow: hidden;
       
        


        &__photo{
           
            width:40%;

            img{
                padding: 5%;
                 width: 100%;
             
              
             }


         

        }
        &__text{
            width:60%;
            font-size: 0.8em;
            text-align: justify;
            padding-left: 4%;
            padding-right: 2%;
           

            h2{
                line-height: 0em;
                margin-bottom: 3px;
                
            }

            h3{
                display: inline-flex;
                line-height: 1em;
                margin-right: 10px;
                font-size: 0.8em;
                margin-bottom: 1px;
                background-color: #d7e2ea;
                border: 1px solid #8a9ba7;
                font-weight: 1;
                color: #8a9ba7;
                padding: 3px;
                border-radius: 4px;
            }

            p{
                font-size: 0.9em;
            }
        }
    }

    
}


/** CONTACTEZ MOI**/

.contact{
    width: 80%;
    height: 37.5rem;
    margin: auto;
    
    text-align: center;
    font-size: 1.5em;
       
    h1{
            line-height: 2em;
            font-size: 3rem;

        }
    
}


@mixin contactbox {
    width:100%;
    height: auto;        
    border-radius: 1.8em;
    box-shadow: 3px 3px 10px $colorshadow;
    margin: 1%;
    
}

.contactbox{   
    display: flex;
    justify-content: space-around;
    color: #ffffff;

    &__tel{
        @include contactbox();
        background-color: #8a9ba7;
             
        img{
            margin-top: 30px;
            height: 80px;
            
        }
        
        
    }

    &__mail{
        @include contactbox();        
        background-color: $colortitle;
                       
          img{
            margin-top: 20px;
            margin-bottom: -20px;
            height: 110px;
            
        }
        
        
    }

    &__social{
        @include contactbox();        
        background-color: #d7e2ea;
                
        img {
            height: 50px;
            margin-top: 60px;
        }
        
    }

}


footer{
    width:100%;
    height: 150px;
    background-color: #E5E7E9;
    position: relative;
    display: flex;
    justify-content: center;
    
    p{
        
        position: absolute;
        bottom: 0;
        
        
    }
    
}



@mixin navBurger {
    background-color: #8a9ba799;

        .mainPages{
            display: none;
            flex-direction: column;
            background-color:#8a9ba799;
            height: auto;
            text-align: center;

            a{
                width:50%;
                margin: auto;
                font-size: 1.5rem;
                color: #ffffff;
                font-weight: bold;

                
            }
        }
 
        label 
        {
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            font-size: 40px;
            color: white;
            cursor: pointer;
        }

        #toggle:checked + .mainPages {
            display: flex;
        }
    }



/**Smartphone**/

@media only screen and (max-width:480px){
    html{
        font-size: 12px;
    }

    nav{
        @include navBurger();
        }
        
        

    header h1{
        line-height: 1em;
    }
    
    .aboutme{
        height: auto;
        display: flex;
        flex-direction: column;
        width: 90%;


        &__photo{
            width:100%;
            height: auto;
            }

           

        &__text{
            margin:auto;
            width:90%;
        }
    }

.competence{
  
    img{
        display: none;
        
    }

    &__box{
        width: 90%;
        margin: auto;
        margin-bottom: -3rem;
        flex-direction: column;
        
        &--text{
            width: 100%;
           
            
        }
    }
}

.realisations{

    .projetBox{
        width: 90%;
        flex-direction: column;
        
        

            &__photo{
                
                margin: auto;
                width: 90%;
                padding-top: 5%;
                img{
                    padding: 0%;
                }
               
            }

            &__text{
                padding: 0%;
                width:90%;
                margin: auto;
                
            }
    }
}

.contact{
    width: 100%;
    height: auto;
}
.contactbox{
    margin: auto;
    margin-bottom: 10%;
    flex-direction: column;
    width: 90%;
    
   
}

}

/**Tablette**/

@media only screen and (min-width: 481px) and  (max-width:1024px){
    html{
        font-size: 12px;
    }

    nav{
        
        @include navBurger();
    }

    header h1{
        line-height: 1em;
    }
    
    .aboutme{
        height: auto;
        display: flex;
        flex-direction: column;
        width: 90%;
        text-align: center;


        &__photo{
            width:100%;
            height: auto;
            
            }

           

        &__text{
            margin:auto;
            width:90%;
        }
    }

.competence{
  
    img{
        display: none;
        
    }

    &__box{
        width: 90%;
        margin: auto;
        margin-bottom: -3rem;
        flex-direction: column;
        
        &--text{
            width: 100%;
           
            
        }
    }
}

.realisations{

    .projetBox{
        width: 90%;
        flex-direction: column;
        
        

            &__photo{
                
                margin: auto;
                width: 90%;
                padding-top: 5%;
                img{
                    padding: 0%;
                }
               
            }

            &__text{
                padding: 0%;
                width:90%;
                margin: auto;
                
            }
    }
}

.contact{
    width: 100%;
    height: auto;
}
.contactbox{
    margin: auto;
    margin-bottom: 10%;
    flex-direction: column;
    width: 90%;
    
   
}

}


/**Laptop**/

@media only screen and (min-width:1025px) and (max-width:1600px){
    html{
        font-size: 16px;
    }

   

    header h1{
        line-height: 1em;
    }
    
    .aboutme{
        height: auto;
        display: flex;        
        width: 90%;
        


        &__photo{
            width:100%;
            height: auto;
            }

           

        &__text{
            margin:auto;
            width:90%;
        }
    }

.competence{
  
   

    &__box{
        width: 90%;
        margin: auto;
        
        
        
        &--text{
            width: 100%;
           
            
        }
    }
}

.realisations{

    .projetBox{
        width: 90%;
        padding: 3%;
               

            &__photo{
                
                margin: auto;
                width: 90%;
                

                img{
                    padding: 0%;
                }
               
            }

            &__text{
                padding-left: 3%;
                width:90%;
                margin: auto;
                
            }
    }
}

.contact{
    width: 100%;
    height: auto;
}
.contactbox{
    margin: auto;
    margin-bottom: 10%;
    flex-direction: column;
    width: 30%;
    
   
}

}